<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head.ejs") %>
</head>

<body>
    <%- include("partials/nav.ejs") %>
    
    <h2><%=name%></h2>

    <%=info.def%>
    <br>
    <img src="<%=info.image%>" width="300">

        <%- include("partials/footer.ejs") %>
    
</body>

</html>